<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>

    <style>
        header{
            display:flex;
            justify-content:space-between;
            padding:0 20px 0 20px;
        }
        #item {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        #item-content{
            height: 170px;
            padding: 10px;
            margin: 10px;
            border: 2px solid black;

        }

    </style>

</head>
<body>
<div>
    <header>
        <h1>My BlogApplication</h1>
        <div style="align-self:center;">
            <div>
                <div sec:authorize="isAuthenticated()">
                    <input type="text" th:value="${#authentication.principal.name}" disabled/>
                </div>

                <form th:action="@{/post/filter}" method="get" style="display:flex">
                    <input type="search" name="keyword" th:value="${keyword}" placeholder="Search...">
                    <input type="hidden" name="prevKeyword" th:value="${prevKeyword}">

                    <select id="authors" name="authors">
                        <option value="">All Authors</option>
                        <option th:each="author : ${authors}"
                                th:value="${author}"
                                th:text="${author}"
                                th:selected="${selectedAuthors != null} ? ${selectedAuthors.contains(author)} : false">
                        </option>
                    </select>


                    <select name="tags">
                        <option value="">All Tags</option>
                        <option th:each="tag : ${tags}" th:value="${tag.name}" th:text="${tag.name}"
                                th:selected="${selectedTags != null} ? ${selectedTags.contains(tag.name)} : false"></option>
                    </select>

                    <label for="fromDate" style="align-self:center">From:</label>
                    <input type="date" id="fromDate" name="fromDate"
                           th:value="${fromDate != null} ? ${fromDate} : ''"><br><br>

                    <label for="toDate" style="align-self:center">To:</label>
                    <input type="date" id="toDate" name="toDate"
                           th:value="${toDate != null} ? ${toDate} : ''">


                    <select id="sort" name="sort">
                        <option value="">Sort By</option>
                        <option value="asc" th:selected="${selectedSort == 'asc'}">Oldest First</option>
                        <option value="desc" th:selected="${selectedSort == 'desc'}">Newest First</option>
                    </select>

                    <button type="submit">Filter</button>
                </form>
                <div>

                    <div sec:authorize="isAnonymous()">
                        <a th:href="@{/login}">Login</a> |
                        <a th:href="@{/register}">Register</a>
                    </div>

                    <div sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit">Logout</button>
                        </form>
                    </div>
                    <a th:href="@{/newpost}"><b>Create Post</b></a>
                </div>

            </div>
        </div>
    </header>
    <hr>
    <div id="item">
        <a th:href="@{/post/{id}(id=${post.id})}" th:each="post : ${posts}"
           style="text-decoration:none; color:inherit;">
            <div id="item-content">
                <h2 style="margin-bottom:0px" th:text="${post.title}"></h2>
                <span th:text="${post.author}"></span>,
                <span th:text="${#temporals.format(post.createdAt, 'dd MMM yyyy')}"></span>
                <p th:text="${post.excerpt}"></p>
            </div>
        </a>
    </div>
    <div style="text-align: center; margin-top: 20px">
        <div style="margin-top: 10px;display:flex;justify-content:center;align-items: center;">
            <a th:if="${currPage > 0}"
               th:href="@{/post/filter(
                page=${currPage-1},
                keyword=${keyword},
                authors=${selectedAuthors},
                tags=${selectedTags},
                fromDate=${fromDate},
                toDate=${toDate},
                sort=${selectedSort}
           )}">
                <button>Previous</button>
            </a>
            <p th:text="${currPage+1}"></p>
            <a th:if="${currPage + 1 < totalPages}"
               th:href="@{/post/filter(
                page=${currPage+1},
                keyword=${keyword},
                authors=${selectedAuthors},
                tags=${selectedTags},
                fromDate=${fromDate},
                toDate=${toDate},
                sort=${selectedSort}
           )}">
                <button>Next</button>
            </a>
        </div>

    </div>
</div>
</body>